parameters.txt
parameters.bk
cloudy_test/**
cloudy/**
look-up-tables/cloudy/input/**
look-up-tables/cloudy/output/**
look-up-tables/cloudy/old/**
data/**
skirt/*.fits
skirt/*.dat
skirt/*.txt
skirt/*.xml
skirt/*.ski
!skirt/skirt_template.ski
!data/utils.py
!data/galaxy_selection/**
!data/results/**
!data/observations/**
sigame/temp/**
plots/**
temp_params.npy
.DS_store
*-checkpoint.ipynb
sigame/__pycache__/**
*.pyc
siv3.o*
slurm-*
are-save.o*
snap.o*
.nfs*
